@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "مدیریت نوشته ها";

}
@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Mamedia.Src.UI.Web.Models.AllPostsViewModel>

<h2>لیست هنرمندان</h2>
<hr />
<p>
    <a asp-action="CreateTrackPost">تک آهنگ جدید</a>
    <a asp-action="CreatePurchasableAlbum" style="margin-right:15px;">آلبوم قابل فروش جدید</a>
    <a asp-action="CreateTrackPost" style="margin-right:15px;">آلبوم قابل دانلود جدید</a>
    <a asp-action="CreateTrackPost" style="margin-right:15px;">فیلم جدید</a>
    <a asp-action="CreateTrackPost" style="margin-right:15px;">سریال جدید</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowToPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AllPostsViewModel item in ViewBag.postList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostKind)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowToPublish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaDescription)
                </td>
                <td>
                    <a asp-action="EditPost" asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pager" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="text-align:center; width:100%;">
    @Html.PagedListPager((IPagedList)ViewBag.postList, page => Url.Action("PostManagement", new { page }))
</div>
